page-notes {

    .cours-card-container {
        position: relative;
    }
    .cours-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size:26px
    }
}
