<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item-group>
    <div *ngFor="let session_course of coursesBySession">

      <ion-item-divider color="light">{{session_course.sessionFullName}}</ion-item-divider>

      <ion-item *ngFor="let course of session_course.courses">
        <ion-thumbnail item-start class="cours-card-container">
          <div class="cours-card">{{course.cote}}</div>
        </ion-thumbnail>
        <h2>{{course.sigle}}</h2>
        <p>{{course.titreCours}}</p>
      </ion-item>

    </div>
  </ion-item-group>

</ion-content>