<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>


  <button ion-button secondary menuToggle>Toggle Menu</button>

  <p>________________________________--</p>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      {{item.sigle}}
    </div>
  </ion-list>
</ion-content>
