<ion-menu [content]="content">
  <ion-header>

  </ion-header>

  <ion-content class="menu-content menu-background">
    <ion-list>
      <img src="assets/img/ets_background_grayscale.png" />
      <ion-list-header no-lines color="light">
        Prénom - Nom <br> Code Permanent
      </ion-list-header>
      <div *ngFor="let c of categories">
        <ion-item-divider no-lines color="primary" (click)="toggleDetails(c)">
          <h2 item-left> {{ c.title }} </h2>
          <ion-icon *ngIf="!c.active" item-right name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="c.active" item-right name="arrow-dropup"></ion-icon>
        </ion-item-divider>
        <div *ngIf="c.active">
          <div *ngFor="let p of pages">
            <button menuClose ion-item no-lines color="primary" *ngIf="p.category === c.title" (click)="openPage(p)" [disabled]="!isLoggedIn && p.requiresLogin">
              <ion-icon item-left [name]="p.icon"></ion-icon>
              {{p.title}}
            </button>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer>
    <button *ngIf="isLoggedIn" ion-button full menuToggle (click)="logOut()">
      Se déconecter
    </button>
    <button *ngIf="!isLoggedIn" ion-button full menuToggle (click)="login()">
      Se connecter
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>