<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nouvelles</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
