page-bottin {
    
    ion-spinner {
        position:absolute;
        top:10px;
        right: 10px;
        z-index:1000;
    }

    ion-spinner.spinner-ios line {
        stroke: #E70033;
        fill: #E70033;
    }
}
