<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bottin</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>


  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list [virtualScroll]="employees">

    <ion-item *virtualItem="let employee">

      <h2>{{employee.Prenom}} {{employee.Nom}}</h2>

      <p>{{employee.Titre}}</p>
      <p>{{employee.Service}}</p>
    </ion-item>

  </ion-list>
  <ion-spinner name="ios" *ngIf="showSpinner" ion-fixed></ion-spinner>

</ion-content>