<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Événements</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
	<div (click)="toggleEventDetails()">
		<ion-card>
		    <img src="http://placehold.it/310x150"/>
		    <div class="card-title">
		   		<span class="card-date"> 28<br>Oct</span>
		   		<span class="card-text" item-text-wrap> Retour vers le futur</span>
		    </div>
	    </ion-card>
	    <ion-card-content *ngIf="show">
		    <div>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</div>
		</ion-card-content>
	</div>
</ion-content>
