page-events {

	.card-background-page {

	  ion-card {
	  	margin: 0;
	  	overflow: hidden;
	  	width: 100%;
	    position: relative;
	  }

	  .card-title {
	    position: absolute;
	    bottom:0;
	    padding: 10px 10px;
	    font-size: 1.5em;
	    font-weight: bold;
	    color: #fff;
	  }

	  .card-date{
	  	display: inline-block;
	  	float: left;
	  	font-size: 0.9em;
	  	text-align: center;
	  	padding: 2px;
	  	margin-right: 5px;
	  	border: 2px solid #fff;
	  	border-radius: 20%;
	  }
	}
}
